@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --foreground: #0D0D0D;
  
  /* Brand Colors */
  --zek-red: #F20519;
  --zek-light-red: #D91136;
  --zek-orange: #F2780C;
  --zek-white: #F2F2F2;
  --zek-black: #0D0D0D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Extend palette */
  --color-zek-red: var(--zek-red);
  --color-zek-light-red: var(--zek-light-red);
  --color-zek-orange: var(--zek-orange);
  --color-zek-white: var(--zek-white);
  --color-zek-black: var(--zek-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #F2F2F2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
